            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer Off";
            toggle-mode = "off";
        };
        // Kyemap Editor用
        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            tap-ms = <20>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;
        };
        vol_up_down: vol_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            tap-ms = <5>;
            bindings = <&kp C_VOL_DN>, <&kp C_VOL_UP>;
        };
        // DYA Studio用
        rsr_vol: rsr_vol {
            compatible = "zmk,behavior-runtime-sensor-rotate";
            #sensor-binding-cells = <0>;
            tap-ms = <5>;
            cw-binding = <&kp C_VOL_DN>;
            ccw-binding = <&kp C_VOL_UP>;
        };
    };
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
&kp Q             &kp W             &kp E         &kp R                        &kp T                             &kp Y        &kp U                         &kp I      &kp O              &kp P
&mt LCTRL A       &kp S             &kp D         &kp F                        &kp G                             &kp H        &kp J                         &kp K      &kp L              &mt RCTRL MINUS
&mt LEFT_SHIFT Z  &kp X             &kp C         &kp V                        &kp B                             &kp N        &kp M                         &kp COMMA  &kp PERIOD         &mt RIGHT_SHIFT SLASH
&kp TAB           &kp LEFT_CONTROL  &kp LEFT_ALT  &mt LEFT_COMMAND LANGUAGE_2  &lt L_SYMBOL SPACE  &lt L_NUMBER BACKSPACE      &lt L_MOVE_MAC ENTER  &mt RIGHT_COMMAND LANGUAGE_1  &trans     &kp C_VOLUME_DOWN  &kp C_VOLUME_UP
            >;
            sensor-bindings = <&rsr_vol &rsr_trans>;
        };
        default_layer_Win {
            bindings = <
&kp Q             &kp W             &kp E         &kp R                        &kp T                             &kp Y        &kp U                         &kp I      &kp O              &kp P
&mt LCTRL A       &kp S             &kp D         &kp F                        &kp G                             &kp H        &kp J                         &kp K      &kp L              &mt RCTRL MINUS
&mt LEFT_SHIFT Z  &kp X             &kp C         &kp V                        &kp B                             &kp N        &kp M                         &kp COMMA  &kp PERIOD         &mt RIGHT_SHIFT SLASH
&kp TAB           &kp LEFT_CONTROL  &kp LEFT_ALT  &mt LEFT_COMMAND LANGUAGE_2  &lt L_SYMBOL SPACE  &lt L_NUMBER BACKSPACE      &lt L_MOVE_WIN ENTER  &mt RIGHT_COMMAND LANGUAGE_1  &trans     &kp C_VOLUME_DOWN  &kp C_VOLUME_UP
            >;
            sensor-bindings = <&rsr_vol &rsr_trans>;
        };
        Onishi_Mac {
            bindings = <
&kp Q  &kp L  &kp U  &kp COMMA  &kp PERIOD  &kp F  &kp W  &kp R  &kp Y  &kp P
&mt LCTRL E  &kp I  &kp A  &kp O  &kp MINUS  &kp K  &kp T  &kp N  &kp S  &mt RCTRL H
&mt LEFT_SHIFT Z  &kp X  &kp C  &kp V  &kp SEMICOLON  &kp G  &kp D  &kp M  &kp J  &mt RIGHT_SHIFT B
&kp TAB           &kp LEFT_CONTROL  &kp LEFT_ALT  &mt LEFT_COMMAND LANGUAGE_2  &lt L_SYMBOL SPACE  &lt L_NUMBER BACKSPACE      &lt L_MOVE_MAC ENTER  &mt RIGHT_COMMAND LANGUAGE_1  &trans     &kp C_VOLUME_DOWN  &kp C_VOLUME_UP
            >;
            sensor-bindings = <&rsr_vol &rsr_trans>;
        };
        Symbol {
            bindings = <
&kp EXCLAMATION  &kp AT_SIGN  &kp HASH  &kp DOLLAR  &kp PERCENT                                  &kp CARET  &kp AMPERSAND  &kp ASTERISK      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
&trans           &trans       &trans    &trans      &trans                                       &kp MINUS  &kp EQUAL      &kp LEFT_BRACKET  &kp RIGHT_BRACKET     &kp BACKSLASH
&trans           &trans       &trans    &trans      &trans                                       &trans     &trans         &kp SEMICOLON     &kp SQT               &kp GRAVE
&kp ESCAPE       &trans       &trans    &trans      &trans       &lt_exit_symbol L_SETTING BACKSPACE      &trans     &trans         &trans            &trans                &trans
            >;
            sensor-bindings = <&rsr_vol &rsr_trans>;
        };
        Number {
            bindings = <
&kp F1   &kp F2   &kp F3   &kp F4   &kp F5               &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans        &trans
&kp F6   &kp F7   &kp F8   &kp F9   &kp F10              &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp PLUS      &kp MINUS
&kp F11  &kp F12  &kp F13  &kp F14  &kp F15              &kp N7        &kp NUMBER_8  &kp NUMBER_9  &kp ASTERISK  &kp SLASH
&trans   &trans   &trans   &trans   &trans   &trans      &kp NUMBER_0  &trans        &trans        &trans        &trans
            >;
            sensor-bindings = <&rsr_vol &rsr_trans>;
        };
        Move {
            bindings = <
&trans    &trans   &trans       &trans         &trans                  &trans     &kp LC(LEFT_ARROW)  &kp UP_ARROW          &kp RC(RIGHT_ARROW)   &trans
&kp HOME  &kp END  &kp PAGE_UP  &kp PAGE_DOWN  &trans                  &kp LC(A)  &kp LEFT_ARROW      &kp DOWN_ARROW        &kp RIGHT_ARROW       &kp LC(E)
&trans    &trans   &trans       &trans         &trans                  &kp RG(Q)  &kp LG(LEFT_ARROW)  &kp RS(RG(NUMBER_4))  &kp RG(RIGHT_ARROW)   &trans
&trans    &trans   &trans       &trans         &trans  &kp DELETE      &trans     &trans              &trans                &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC
            >;
            sensor-bindings = <&rsr_vol &rsr_trans>;
        };
        Move_Win {
            bindings = <
&trans    &trans   &trans       &trans         &trans                  &trans      &kp LC(LG(LEFT_ARROW))  &kp UP_ARROW    &kp RC(RG(RIGHT_ARROW))  &trans
&kp HOME  &kp END  &kp PAGE_UP  &kp PAGE_DOWN  &trans                  &kp HOME    &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp END
&trans    &trans   &trans       &trans         &trans                  &kp RA(F4)  &kp LA(LEFT_ARROW)      &kp RG(RS(S))   &kp RA(RIGHT_ARROW)      &trans
&trans    &trans   &trans       &trans         &trans  &kp DELETE      &trans      &trans                  &trans          &kp C_BRIGHTNESS_DEC     &kp C_BRIGHTNESS_INC
            >;
            sensor-bindings = <&rsr_vol &rsr_trans>;
        };
        Setting {
            // Top-left: Mac Onishi / Mac QWERTY (both select BT profile 0).
            bindings = <
&onishi_mac  &bt0  &trans  &trans  &trans              &bt0            &bt1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans  &trans  &trans  &trans              &trans          &trans  &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans              &studio_unlock  &trans  &trans        &trans        &bt BT_CLR
&trans  &trans  &trans  &trans  &trans  &trans      &trans          &trans  &trans        &trans        &bt BT_CLR_ALL
            >;
            sensor-bindings = <&rsr_vol &rsr_trans>;
        };
        Scroll {
            bindings = <
&trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans
            >;
            sensor-bindings = <&rsr_vol &rsr_trans>;
        };
        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &mkp MB1
&trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans
            >;
            sensor-bindings = <&rsr_vol &rsr_trans>;
        };
    };
};
